#viewport-container {
  width: 100vw;
  height: 100vh;
}

#main-container {
    height: calc(100% - 80px);
    /* test */
    display: flex;
    flex-flow: row, nowrap;
}

/* HEADER START HERE */

header {
    width: 275px;
    max-height: fit-content;
    /* test */
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    overflow-y: auto;
}

#logo {
    padding-top: 1rem;
    /* test */
    padding-left: 2rem;
}

#logo img {
    object-fit: cover;
}

nav {
    display: flex;
    flex-direction: column;
    color: #5a5a5a;
}

h3 {
    margin: .5em 0;
    color: white;
    cursor: pointer;
}

#header-top {
    /* padding-left: 2rem; */
    padding-right: 2rem;
}

#header-top nav ul {
    list-style-type: none;
}

#main-links {
    padding-left: 2rem;
}

#header-top nav ul li {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    margin-top: 1em;
    cursor: pointer;
    /* test */
}

#header-top nav ul li a {
    color: #5a5a5a;
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
}

#header-top nav ul li img {
    max-width: 25px;
}

#playlist-container {
    /* test */
    padding-left: 2rem;
}

#playlist-container ul {
    list-style-type: none;
    
}

#create-playlist {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1em;
    color: #5a5a5a;
}

#create-playlist p {
    cursor: pointer;
}

#playlist-container #create-playlist .fa-solid {
    cursor: pointer;
    font-size: 3em;
    margin-top: 0;
}

#header-bottom {
    padding: 2rem 2rem 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#download {
    display: flex;
    flex-wrap: nowrap;
    gap: 1em;
    align-items: center;
}

#download * {
    cursor: pointer;
}

hr {
    margin-top: 1em;
}

#profile {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1em;
}

#profile-image {
    max-height: 25px;
    max-width: 25px;
    height: 100%;
    width: 100%;
}

/* MAIN START HERE */

main {
    background-color: #141922;
    width: calc(100% - 275px);
    /* test */
    position: relative;
    overflow: auto;
}

/* UPGRADE */

#premium-upgrade {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.3);
    height: 80px;
    /* test */
    padding-right: 2em;
    width: calc(100% - 275px);
    position: fixed;
    top: 0; 
    right: 0;
    z-index: 3;
}

#premium-upgrade button {
    padding: 1em 2em;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.0);
    text-transform: uppercase;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    z-index: 3;
}

/* PLAYED SECTION */

#main-inner {
    padding: 80px 40px;
    /* test */
}

#sections {
    display: flex;
    justify-content: center;
}

#sections #section-links {
    list-style-type: none;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

#section-links li {
    padding-top: 20px;
    padding-bottom: 10px;
    position: relative;
}

#section-links li a {
    text-decoration: none;
    opacity: .7;
    color: white;
    cursor: pointer;
}

h2 {
    padding: 2em 0 1em;
}

/* CONTAINER FEATURES FOR COVER SECTIONS */

.container {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    text-align: center;
    overflow-x: hidden;
}

.container .cover {
    width: calc(100% / 6 - (1em / 6 * 5));
    position: relative;
}

.container .cover .cover-img {
    margin-bottom: 1.2em;
    position: relative;
}

.container .cover .cover-img img {
    width: 100%;
    min-width: 100px;
}

.container .cover .cover-name {
    margin-bottom: .4em;
}

.container .cover .cover-artist, #main-inner p {
    opacity: .7;
    margin-bottom: 1em;
}

/* FAMOUS ARTIST SECTION */

#famous-artists .cover .cover-img img {
    border-radius: 50%;
}

/* FOOTER START HERE */

footer {
    display: flex;
    justify-content: space-between;
    height: 80px;  
    background-color: #282828;
    z-index: 3;
}

.player-side {
    max-width: 275px;
    min-width: 220px;
}

.player-main {
    max-width: 500px;
    min-width: 140px;
    width: 100%;
}

.player-side, .player-main {
    padding: 15px 10px;
}

/* LEFT SECTION */

#player-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    width: 100%;
}

#p-left-image, #p-left-image img {
    height: 100%;
    max-width: 50px;
}

#p-left-title {
    color: white;
    flex-grow: 1;
}

#p-left-title p {
    opacity: .7;
    white-space: nowrap;
}

#p-left-icons {
    display: flex;
    gap: 10px;
    flex-direction: row;
    opacity: .7;
}

#p-left-icons .fa-regular {
    padding: .3em;
    cursor: pointer;
}

/* MIDDLE SECTION */

#player-center {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 10px;
}

#player-buttons {
    display: flex;
    justify-content: center;
    height: 50%;
    gap: 20px;
}

#player-buttons .fa-solid {
    margin-top: .5em;
    cursor: pointer;
}

#player-buttons .fa-regular:nth-child(3) {
    font-size: 2em;
    cursor: pointer;
}

#player-timeline {
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#player-timeline * span {
    opacity: .7;
}

#player-bar {
    flex-grow: 1;
}

#player-bar-total, #volume-range-bar {
    background-color: #5a5a5a;
    /* test */
    width: 100%;
    height: 3px;
}

#player-bar-played, #volume-played {
    width: 25%;
    height: 100%;
    background-color: white;
    opacity: .7;
}

/* RIGHT SECTION */

#player-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#player-right .fa-solid {
    cursor: pointer;
    padding: .2em;
}

#volume-bar {
    width: 100px;
}

/* DISPLAY MOBILE-VIEW */

.mobile-view {
    display: none;
    /* test */
}

/* HOVER EFFECTS */

/* DARK EFFECT OVERLAY ON COVER */

#recently-played .cover:hover .cover-img::before, #correlated-search .cover:hover .cover-img::before {
    content: '';

    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .7;
    background-color: black;
}

#famous-artists .cover:hover .cover-img::before {
    content: '';

    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .7;
    background-color: black;
    border-radius: 50%;
}

/* PLAY BUTTONS ON COVERS */

.cover:hover .cover-img::after {
    content: '\f144';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 2em;
    font-family: "Font Awesome 6 Free";
}

/* ITEM TEXT HOVER */

#header-top nav ul li a:hover {
    color: white;
    text-decoration: underline;
}

#main-links ul li:hover a::before {
    content: '';
    border-left: 3px chartreuse solid;
    position: relative;
    right: 4em;
}

#create-playlist p:hover {
    color: white;
    text-decoration: underline;
}

#playlist-container #create-playlist .fa-solid:hover {
    color: white;
}

#section-links li:hover a::before {
    content: '';
    width: 50%;
    height: 2px;
    background-color: chartreuse;
    position: absolute;
    bottom: 0;
    left: calc(50% - (50% / 2));
}

.cover:hover {
    text-decoration: underline;
}

/* MEDIA QUERIES */

@media screen and (max-width: 992px) {
    .container .cover {
        width: calc(100% / 4 - (1em / 4 * 3)); 
    }
}

@media screen and (max-width: 768px) {
    .container .cover {
        width: calc(100% / 2 - (1em / 2 * 1)); 
    }
    #p-left-icons {
        flex-direction: column;
    }
}

@media screen and (max-width: 576px) {
    .desktop-view {
        display: none;
    }
    .mobile-view {
        display: inline-block;
    }
    header {
        width: 75px;
    }
    main {
        width: calc(100% - 75px);
    }
    #premium-upgrade {
        width: calc(100% - 75px);
    }
    #header-bottom {
        gap: .5em;
    }
    #logo {
        padding-left: 1rem;
    }
    #header-top {
        padding-right: 1rem;
    }
    #main-links {
        padding-left: 0;
    }
    nav {
        padding-left: 1rem;
    }
    #header-top nav ul li {
        justify-content: center;
    }
}
