#viewport-container {
  width: 100vw;
  height: 100vh;
}


#main-container {
    height: calc(100% - 80px);
    /* test */
    display: flex;
    flex-flow: row, nowrap;
}

header {
    width: 275px;
    /* test */
    background-color: black;
}

/* MAIN START HERE */

main {
    background-color: #141922;
    width: calc(100% - 275px);
    /* test */
    position: relative;
    overflow: auto;
}

/* UPGRADE */

#premium-upgrade {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.3);
    height: 80px;
    /* test */
    padding-right: 2em;
    width: calc(100% - 275px);
    position: fixed;
    top: 0; 
    right: 0;
}

#premium-upgrade button {
    padding: 1em 2em;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.0);
    text-transform: uppercase;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}

/* PLAYED SECTION */

#main-inner {
    padding: 100px 40px;
    /* test */
}

#sections {
    display: flex;
    justify-content: center;
}

#sections #section-links {
    list-style-type: none;
    text-transform: uppercase;
    display: flex;
    gap: 1em;
}

#section-links li a {
    text-decoration: none;
    opacity: .7;
    color: white;
    cursor: pointer;
}

h2 {
    padding: 2em 0 1em;
}

/* CONTAINER FEATURES FOR COVER SECTIONS */

.container {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    text-align: center;
}

.container .cover {
    width: calc(100% / 6 - (1em / 6 * 5));
}

.container .cover .cover-img {
    margin-bottom: 1.2em;
}

.container .cover .cover-img img {
    width: 100%;
}

.container .cover .cover-name {
    margin-bottom: .4em;
}

.container .cover .cover-artist, #main-inner p {
    opacity: .7;
    margin-bottom: 1em;
}

/* FAMOUS ARTIST SECTION */

#famous-artists .cover .cover-img img {
    border-radius: 50%;
}

/* FOOTER START HERE */

footer {
    display: flex;
    justify-content: space-between;
    height: 80px;  
    background-color: #282828;
}

.player-side {
    max-width: 275px;
}

.player-main {
    max-width: 500px;
    min-width: 275px;
    width: 100%;
}

.player-side, .player-main {
    padding: 15px 10px;
}

#player-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    width: 100%;
}

#p-left-image, #p-left-image img {
    height: 100%;
    max-width: 50px;
}

#p-left-title {
    color: white;
}

#p-left-title p {
    opacity: .7;
}

#p-left-icons {
    display: flex;
    gap: 10px;
    flex-direction: row;
    opacity: .7;
}

#p-left-icons .fa-regular {
    padding: .3em;
    cursor: pointer;
}

#player-center {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

#player-right {
    display: flex;
}











footer {
    height: 80px;
    /* test */
    background-color: #282828;
}